body{
    font-family: 'Inter', sans-serif;
    color: #0A3641;
    margin: auto 85px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    min-width: 70%;
    min-height: 55%;
    padding-left: 30px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

section p{
    margin: 5px;
    font-size: 2.1875rem;
}

span{
    color: rgb(0, 176, 0);
}

.btn{
    display: flex;
    justify-content: center;
}
.secondBtn{
    background-color: white;
    color: #4AAFF8;
    border-radius: 5px;
    border:1px solid #4AAFF8;
    padding: 5px 35px;
    font-size: 1.5rem;
    margin: 20px auto;
}

.secondBtn:hover{
    background-color: #4AAFF8;
    color: white;
}