header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
}

.navContainer,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ .navContainer {
  display: block;
}

.navContainer {
  position: absolute;
  background-color: #f2f2f2;
  z-index: 99;
  top: 30px;
  right: 30px;
}

.navMenu a {
  display: block;
  color: var(--darkgreen);
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.navLogo img {
  max-width: 75%;
}

@media (min-width: 768px) {
  header {
    margin: 10px 0;
  }
  .hamburger-menu {
    display: none;
  }
  .navContainer {
    display: block;
    position: static;
    font-size: 1.5rem;
  }
  .navMenu {
    display: flex;
    justify-content: space-between;
  }
  .navMenu a {
    background-color: #fff;
    color: var(--darkgreen);
  }
  .navLogo img {
    width: 70%;
    margin-left: 10px;
  }
}
